@font-face {
    font-family: 'HLTFestivalScriptPro';
    src: url('HLTFestivalScriptPro.eot');
    src: url('HLTFestivalScriptPro.eot?#iefix') format('embedded-opentype'),
        url('HLTFestivalScriptPro.woff2') format('woff2'),
        url('HLTFestivalScriptPro.woff') format('woff'),
        url('HLTFestivalScriptPro.ttf') format('truetype'),
        url('HLTFestivalScriptPro.svg#HLTFestivalScriptPro') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLTSociety';
    src: url('HLTSociety.eot');
    src: url('HLTSociety.eot?#iefix') format('embedded-opentype'),
        url('HLTSociety.woff2') format('woff2'),
        url('HLTSociety.woff') format('woff'),
        url('HLTSociety.ttf') format('truetype'),
        url('HLTSociety.svg#HLTSociety') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLTJojo';
    src: url('HLTJojo.eot');
    src: url('HLTJojo.eot?#iefix') format('embedded-opentype'),
        url('HLTJojo.woff2') format('woff2'),
        url('HLTJojo.woff') format('woff'),
        url('HLTJojo.ttf') format('truetype'),
        url('HLTJojo.svg#HLTJojo') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLTFallForYou';
    src: url('HLTFallForYou.eot');
    src: url('HLTFallForYou.eot?#iefix') format('embedded-opentype'),
        url('HLTFallForYou.woff2') format('woff2'),
        url('HLTFallForYou.woff') format('woff'),
        url('HLTFallForYou.ttf') format('truetype'),
        url('HLTFallForYou.svg#HLTFallForYou') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLTGiddyupStd';
    src: url('HLTGiddyupStd.eot');
    src: url('HLTGiddyupStd.eot?#iefix') format('embedded-opentype'),
        url('HLTGiddyupStd.woff2') format('woff2'),
        url('HLTGiddyupStd.woff') format('woff'),
        url('HLTGiddyupStd.ttf') format('truetype'),
        url('HLTGiddyupStd.svg#HLTGiddyupStd') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLTMirellaScriptLimited';
    src: url('HLTMirellaScriptLimited.eot');
    src: url('HLTMirellaScriptLimited.eot?#iefix') format('embedded-opentype'),
        url('HLTMirellaScriptLimited.woff2') format('woff2'),
        url('HLTMirellaScriptLimited.woff') format('woff'),
        url('HLTMirellaScriptLimited.ttf') format('truetype'),
        url('HLTMirellaScriptLimited.svg#HLTMirellaScriptLimited') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLTSudestada';
    src: url('HLTSudestada.eot');
    src: url('HLTSudestada.eot?#iefix') format('embedded-opentype'),
        url('HLTSudestada.woff2') format('woff2'),
        url('HLTSudestada.woff') format('woff'),
        url('HLTSudestada.ttf') format('truetype'),
        url('HLTSudestada.svg#HLTSudestada') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLTNarzissSwirls';
    src: url('HLTNarzissSwirls.eot');
    src: url('HLTNarzissSwirls.eot?#iefix') format('embedded-opentype'),
        url('HLTNarzissSwirls.woff2') format('woff2'),
        url('HLTNarzissSwirls.woff') format('woff'),
        url('HLTNarzissSwirls.ttf') format('truetype'),
        url('HLTNarzissSwirls.svg#HLTNarzissSwirls') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLTMishka';
    src: url('HLTMishka.eot');
    src: url('HLTMishka.eot?#iefix') format('embedded-opentype'),
        url('HLTMishka.woff2') format('woff2'),
        url('HLTMishka.woff') format('woff'),
        url('HLTMishka.ttf') format('truetype'),
        url('HLTMishka.svg#HLTMishka') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLTCarpenterScript';
    src: url('HLTCarpenterScript.eot');
    src: url('HLTCarpenterScript.eot?#iefix') format('embedded-opentype'),
        url('HLTCarpenterScript.woff2') format('woff2'),
        url('HLTCarpenterScript.woff') format('woff'),
        url('HLTCarpenterScript.ttf') format('truetype'),
        url('HLTCarpenterScript.svg#HLTCarpenterScript') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLTLookUp';
    src: url('HLTLookUp.eot');
    src: url('HLTLookUp.eot?#iefix') format('embedded-opentype'),
        url('HLTLookUp.woff2') format('woff2'),
        url('HLTLookUp.woff') format('woff'),
        url('HLTLookUp.ttf') format('truetype'),
        url('HLTLookUp.svg#HLTLookUp') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLTSailAway';
    src: url('HLTSailAway.eot');
    src: url('HLTSailAway.eot?#iefix') format('embedded-opentype'),
        url('HLTSailAway.woff2') format('woff2'),
        url('HLTSailAway.woff') format('woff'),
        url('HLTSailAway.ttf') format('truetype'),
        url('HLTSailAway.svg#HLTSailAway') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLTBurguesScript';
    src: url('HLTBurguesScript.eot');
    src: url('HLTBurguesScript.eot?#iefix') format('embedded-opentype'),
        url('HLTBurguesScript.woff2') format('woff2'),
        url('HLTBurguesScript.woff') format('woff'),
        url('HLTBurguesScript.ttf') format('truetype'),
        url('HLTBurguesScript.svg#HLTBurguesScript') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLTMotionPicture';
    src: url('HLTMotionPicture.eot');
    src: url('HLTMotionPicture.eot?#iefix') format('embedded-opentype'),
        url('HLTMotionPicture.woff2') format('woff2'),
        url('HLTMotionPicture.woff') format('woff'),
        url('HLTMotionPicture.ttf') format('truetype'),
        url('HLTMotionPicture.svg#HLTMotionPicture') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JellykaEndlessVoyage';
    src: url('JellykaEndlessVoyage.eot');
    src: url('JellykaEndlessVoyage.eot?#iefix') format('embedded-opentype'),
        url('JellykaEndlessVoyage.woff2') format('woff2'),
        url('JellykaEndlessVoyage.woff') format('woff'),
        url('JellykaEndlessVoyage.ttf') format('truetype'),
        url('JellykaEndlessVoyage.svg#JellykaEndlessVoyage') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLTFitigraf-S';
    src: url('HLTFitigraf-S.eot');
    src: url('HLTFitigraf-S.eot?#iefix') format('embedded-opentype'),
        url('HLTFitigraf-S.woff2') format('woff2'),
        url('HLTFitigraf-S.woff') format('woff'),
        url('HLTFitigraf-S.ttf') format('truetype'),
        url('HLTFitigraf-S.svg#HLTFitigraf-S') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JellykaCuttyCupcakes';
    src: url('JellykaCuttyCupcakes.eot');
    src: url('JellykaCuttyCupcakes.eot?#iefix') format('embedded-opentype'),
        url('JellykaCuttyCupcakes.woff2') format('woff2'),
        url('JellykaCuttyCupcakes.woff') format('woff'),
        url('JellykaCuttyCupcakes.ttf') format('truetype'),
        url('JellykaCuttyCupcakes.svg#JellykaCuttyCupcakes') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLTSneakerScript';
    src: url('HLTSneakerScript.eot');
    src: url('HLTSneakerScript.eot?#iefix') format('embedded-opentype'),
        url('HLTSneakerScript.woff2') format('woff2'),
        url('HLTSneakerScript.woff') format('woff'),
        url('HLTSneakerScript.ttf') format('truetype'),
        url('HLTSneakerScript.svg#HLTSneakerScript') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLTGeotica2012';
    src: url('HLTGeotica2012.eot');
    src: url('HLTGeotica2012.eot?#iefix') format('embedded-opentype'),
        url('HLTGeotica2012.woff2') format('woff2'),
        url('HLTGeotica2012.woff') format('woff'),
        url('HLTGeotica2012.ttf') format('truetype'),
        url('HLTGeotica2012.svg#HLTGeotica2012') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JellykaDeliciousCake';
    src: url('JellykaDeliciousCake.eot');
    src: url('JellykaDeliciousCake.eot?#iefix') format('embedded-opentype'),
        url('JellykaDeliciousCake.woff2') format('woff2'),
        url('JellykaDeliciousCake.woff') format('woff'),
        url('JellykaDeliciousCake.ttf') format('truetype'),
        url('JellykaDeliciousCake.svg#JellykaDeliciousCake') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLTFinuraRoman';
    src: url('HLTFinuraRoman.eot');
    src: url('HLTFinuraRoman.eot?#iefix') format('embedded-opentype'),
        url('HLTFinuraRoman.woff2') format('woff2'),
        url('HLTFinuraRoman.woff') format('woff'),
        url('HLTFinuraRoman.ttf') format('truetype'),
        url('HLTFinuraRoman.svg#HLTFinuraRoman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLTRedWagonStylistic';
    src: url('HLTRedWagonStylistic.eot');
    src: url('HLTRedWagonStylistic.eot?#iefix') format('embedded-opentype'),
        url('HLTRedWagonStylistic.woff2') format('woff2'),
        url('HLTRedWagonStylistic.woff') format('woff'),
        url('HLTRedWagonStylistic.ttf') format('truetype'),
        url('HLTRedWagonStylistic.svg#HLTRedWagonStylistic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLTButtermilk';
    src: url('HLTButtermilk.eot');
    src: url('HLTButtermilk.eot?#iefix') format('embedded-opentype'),
        url('HLTButtermilk.woff2') format('woff2'),
        url('HLTButtermilk.woff') format('woff'),
        url('HLTButtermilk.ttf') format('truetype'),
        url('HLTButtermilk.svg#HLTButtermilk') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLTCLMissLeGatees1';
    src: url('HLTCLMissLeGatees1.eot');
    src: url('HLTCLMissLeGatees1.eot?#iefix') format('embedded-opentype'),
        url('HLTCLMissLeGatees1.woff2') format('woff2'),
        url('HLTCLMissLeGatees1.woff') format('woff'),
        url('HLTCLMissLeGatees1.ttf') format('truetype'),
        url('HLTCLMissLeGatees1.svg#HLTCLMissLeGatees1') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JellykaBeesAntiqueHandwriting';
    src: url('JellykaBeesAntiqueHandwriting.eot');
    src: url('JellykaBeesAntiqueHandwriting.eot?#iefix') format('embedded-opentype'),
        url('JellykaBeesAntiqueHandwriting.woff2') format('woff2'),
        url('JellykaBeesAntiqueHandwriting.woff') format('woff'),
        url('JellykaBeesAntiqueHandwriting.ttf') format('truetype'),
        url('JellykaBeesAntiqueHandwriting.svg#JellykaBeesAntiqueHandwriting') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLTPepitaScript';
    src: url('HLTPepitaScript.eot');
    src: url('HLTPepitaScript.eot?#iefix') format('embedded-opentype'),
        url('HLTPepitaScript.woff2') format('woff2'),
        url('HLTPepitaScript.woff') format('woff'),
        url('HLTPepitaScript.ttf') format('truetype'),
        url('HLTPepitaScript.svg#HLTPepitaScript') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLTJaneAusten-NoSecret';
    src: url('HLTJaneAusten-NoSecret.eot');
    src: url('HLTJaneAusten-NoSecret.eot?#iefix') format('embedded-opentype'),
        url('HLTJaneAusten-NoSecret.woff2') format('woff2'),
        url('HLTJaneAusten-NoSecret.woff') format('woff'),
        url('HLTJaneAusten-NoSecret.ttf') format('truetype'),
        url('HLTJaneAusten-NoSecret.svg#HLTJaneAusten-NoSecret') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLTOlivertuelesfourmis';
    src: url('HLTOlivertuelesfourmis.eot');
    src: url('HLTOlivertuelesfourmis.eot?#iefix') format('embedded-opentype'),
        url('HLTOlivertuelesfourmis.woff2') format('woff2'),
        url('HLTOlivertuelesfourmis.woff') format('woff'),
        url('HLTOlivertuelesfourmis.ttf') format('truetype'),
        url('HLTOlivertuelesfourmis.svg#HLTOlivertuelesfourmis') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLTVindeco';
    src: url('HLTVindeco.eot');
    src: url('HLTVindeco.eot?#iefix') format('embedded-opentype'),
        url('HLTVindeco.woff2') format('woff2'),
        url('HLTVindeco.woff') format('woff'),
        url('HLTVindeco.ttf') format('truetype'),
        url('HLTVindeco.svg#HLTVindeco') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLTElisa';
    src: url('HLTElisa.eot');
    src: url('HLTElisa.eot?#iefix') format('embedded-opentype'),
        url('HLTElisa.woff2') format('woff2'),
        url('HLTElisa.woff') format('woff'),
        url('HLTElisa.ttf') format('truetype'),
        url('HLTElisa.svg#HLTElisa') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLTSuaveScript';
    src: url('HLTSuaveScript.eot');
    src: url('HLTSuaveScript.eot?#iefix') format('embedded-opentype'),
        url('HLTSuaveScript.woff2') format('woff2'),
        url('HLTSuaveScript.woff') format('woff'),
        url('HLTSuaveScript.ttf') format('truetype'),
        url('HLTSuaveScript.svg#HLTSuaveScript') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLTStringbead';
    src: url('HLTStringbead.eot');
    src: url('HLTStringbead.eot?#iefix') format('embedded-opentype'),
        url('HLTStringbead.woff2') format('woff2'),
        url('HLTStringbead.woff') format('woff'),
        url('HLTStringbead.ttf') format('truetype'),
        url('HLTStringbead.svg#HLTStringbead') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLTWindsong';
    src: url('HLTWindsong.eot');
    src: url('HLTWindsong.eot?#iefix') format('embedded-opentype'),
        url('HLTWindsong.woff2') format('woff2'),
        url('HLTWindsong.woff') format('woff'),
        url('HLTWindsong.ttf') format('truetype'),
        url('HLTWindsong.svg#HLTWindsong') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLTFoglihtenNo04';
    src: url('HLTFoglihtenNo04.eot');
    src: url('HLTFoglihtenNo04.eot?#iefix') format('embedded-opentype'),
        url('HLTFoglihtenNo04.woff2') format('woff2'),
        url('HLTFoglihtenNo04.woff') format('woff'),
        url('HLTFoglihtenNo04.ttf') format('truetype'),
        url('HLTFoglihtenNo04.svg#HLTFoglihtenNo04') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLTSignericaMedium';
    src: url('HLTSignericaMedium.eot');
    src: url('HLTSignericaMedium.eot?#iefix') format('embedded-opentype'),
        url('HLTSignericaMedium.woff2') format('woff2'),
        url('HLTSignericaMedium.woff') format('woff'),
        url('HLTSignericaMedium.ttf') format('truetype'),
        url('HLTSignericaMedium.svg#HLTSignericaMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

