@font-face {
    font-family: 'UVFChampionScriptPro';
    src: url('UVFChampionScriptPro.eot');
    src: url('UVFChampionScriptPro.eot?#iefix') format('embedded-opentype'),
        url('UVFChampionScriptPro.woff2') format('woff2'),
        url('UVFChampionScriptPro.woff') format('woff'),
        url('UVFChampionScriptPro.ttf') format('truetype'),
        url('UVFChampionScriptPro.svg#UVFChampionScriptPro') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLTPFChampionScriptPro';
    src: url('HLTPFChampionScriptPro.eot');
    src: url('HLTPFChampionScriptPro.eot?#iefix') format('embedded-opentype'),
        url('HLTPFChampionScriptPro.woff2') format('woff2'),
        url('HLTPFChampionScriptPro.woff') format('woff'),
        url('HLTPFChampionScriptPro.ttf') format('truetype'),
        url('HLTPFChampionScriptPro.svg#HLTPFChampionScriptPro') format('svg');
    font-weight: normal;
    font-style: normal;
}

