@font-face {
    font-family: 'UVFMandevilla';
    src: url('UVFMandevilla.eot');
    src: url('UVFMandevilla.eot?#iefix') format('embedded-opentype'),
        url('UVFMandevilla.woff2') format('woff2'),
        url('UVFMandevilla.woff') format('woff'),
        url('UVFMandevilla.ttf') format('truetype'),
        url('UVFMandevilla.svg#UVFMandevilla') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFHelveticaNeue-Roman';
    src: url('UVFHelveticaNeue-Roman.eot');
    src: url('UVFHelveticaNeue-Roman.eot?#iefix') format('embedded-opentype'),
        url('UVFHelveticaNeue-Roman.woff2') format('woff2'),
        url('UVFHelveticaNeue-Roman.woff') format('woff'),
        url('UVFHelveticaNeue-Roman.ttf') format('truetype'),
        url('UVFHelveticaNeue-Roman.svg#UVFHelveticaNeue-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFCupiddeLocke';
    src: url('UVFCupiddeLocke.eot');
    src: url('UVFCupiddeLocke.eot?#iefix') format('embedded-opentype'),
        url('UVFCupiddeLocke.woff2') format('woff2'),
        url('UVFCupiddeLocke.woff') format('woff'),
        url('UVFCupiddeLocke.ttf') format('truetype'),
        url('UVFCupiddeLocke.svg#UVFCupiddeLocke') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFIthornet';
    src: url('UVFIthornet.eot');
    src: url('UVFIthornet.eot?#iefix') format('embedded-opentype'),
        url('UVFIthornet.woff2') format('woff2'),
        url('UVFIthornet.woff') format('woff'),
        url('UVFIthornet.ttf') format('truetype'),
        url('UVFIthornet.svg#UVFIthornet') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFFuturaLT';
    src: url('UVFFuturaLT.eot');
    src: url('UVFFuturaLT.eot?#iefix') format('embedded-opentype'),
        url('UVFFuturaLT.woff2') format('woff2'),
        url('UVFFuturaLT.woff') format('woff'),
        url('UVFFuturaLT.ttf') format('truetype'),
        url('UVFFuturaLT.svg#UVFFuturaLT') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFJellykaEndlessVoyage';
    src: url('UVFJellykaEndlessVoyage.eot');
    src: url('UVFJellykaEndlessVoyage.eot?#iefix') format('embedded-opentype'),
        url('UVFJellykaEndlessVoyage.woff2') format('woff2'),
        url('UVFJellykaEndlessVoyage.woff') format('woff'),
        url('UVFJellykaEndlessVoyage.ttf') format('truetype'),
        url('UVFJellykaEndlessVoyage.svg#UVFJellykaEndlessVoyage') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFDidotLTStd-Italic';
    src: url('UVFDidotLTStd-Italic.eot');
    src: url('UVFDidotLTStd-Italic.eot?#iefix') format('embedded-opentype'),
        url('UVFDidotLTStd-Italic.woff2') format('woff2'),
        url('UVFDidotLTStd-Italic.woff') format('woff'),
        url('UVFDidotLTStd-Italic.ttf') format('truetype'),
        url('UVFDidotLTStd-Italic.svg#UVFDidotLTStd-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFMemoriamPro';
    src: url('UVFMemoriamPro.eot');
    src: url('UVFMemoriamPro.eot?#iefix') format('embedded-opentype'),
        url('UVFMemoriamPro.woff2') format('woff2'),
        url('UVFMemoriamPro.woff') format('woff'),
        url('UVFMemoriamPro.ttf') format('truetype'),
        url('UVFMemoriamPro.svg#UVFMemoriamPro') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFEloquentJFSwash';
    src: url('UVFEloquentJFSwash.eot');
    src: url('UVFEloquentJFSwash.eot?#iefix') format('embedded-opentype'),
        url('UVFEloquentJFSwash.woff2') format('woff2'),
        url('UVFEloquentJFSwash.woff') format('woff'),
        url('UVFEloquentJFSwash.ttf') format('truetype'),
        url('UVFEloquentJFSwash.svg#UVFEloquentJFSwash') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFKewlScript';
    src: url('UVFKewlScript.eot');
    src: url('UVFKewlScript.eot?#iefix') format('embedded-opentype'),
        url('UVFKewlScript.woff2') format('woff2'),
        url('UVFKewlScript.woff') format('woff'),
        url('UVFKewlScript.ttf') format('truetype'),
        url('UVFKewlScript.svg#UVFKewlScript') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFDaddysGirl';
    src: url('UVFDaddysGirl.eot');
    src: url('UVFDaddysGirl.eot?#iefix') format('embedded-opentype'),
        url('UVFDaddysGirl.woff2') format('woff2'),
        url('UVFDaddysGirl.woff') format('woff'),
        url('UVFDaddysGirl.ttf') format('truetype'),
        url('UVFDaddysGirl.svg#UVFDaddysGirl') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFCorinthia';
    src: url('UVFCorinthia.eot');
    src: url('UVFCorinthia.eot?#iefix') format('embedded-opentype'),
        url('UVFCorinthia.woff2') format('woff2'),
        url('UVFCorinthia.woff') format('woff'),
        url('UVFCorinthia.ttf') format('truetype'),
        url('UVFCorinthia.svg#UVFCorinthia') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFKaileen';
    src: url('UVFKaileen.eot');
    src: url('UVFKaileen.eot?#iefix') format('embedded-opentype'),
        url('UVFKaileen.woff2') format('woff2'),
        url('UVFKaileen.woff') format('woff'),
        url('UVFKaileen.ttf') format('truetype'),
        url('UVFKaileen.svg#UVFKaileen') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFFunkydori';
    src: url('UVFFunkydori.eot');
    src: url('UVFFunkydori.eot?#iefix') format('embedded-opentype'),
        url('UVFFunkydori.woff2') format('woff2'),
        url('UVFFunkydori.woff') format('woff'),
        url('UVFFunkydori.ttf') format('truetype'),
        url('UVFFunkydori.svg#UVFFunkydori') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFDiamondsBold-Bold';
    src: url('UVFDiamondsBold-Bold.eot');
    src: url('UVFDiamondsBold-Bold.eot?#iefix') format('embedded-opentype'),
        url('UVFDiamondsBold-Bold.woff2') format('woff2'),
        url('UVFDiamondsBold-Bold.woff') format('woff'),
        url('UVFDiamondsBold-Bold.ttf') format('truetype'),
        url('UVFDiamondsBold-Bold.svg#UVFDiamondsBold-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFDartangnonStd';
    src: url('UVFDartangnonStd.eot');
    src: url('UVFDartangnonStd.eot?#iefix') format('embedded-opentype'),
        url('UVFDartangnonStd.woff2') format('woff2'),
        url('UVFDartangnonStd.woff') format('woff'),
        url('UVFDartangnonStd.ttf') format('truetype'),
        url('UVFDartangnonStd.svg#UVFDartangnonStd') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFLoveStory';
    src: url('UVFLoveStory.eot');
    src: url('UVFLoveStory.eot?#iefix') format('embedded-opentype'),
        url('UVFLoveStory.woff2') format('woff2'),
        url('UVFLoveStory.woff') format('woff'),
        url('UVFLoveStory.ttf') format('truetype'),
        url('UVFLoveStory.svg#UVFLoveStory') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFLavanderiaRegular';
    src: url('UVFLavanderiaRegular.eot');
    src: url('UVFLavanderiaRegular.eot?#iefix') format('embedded-opentype'),
        url('UVFLavanderiaRegular.woff2') format('woff2'),
        url('UVFLavanderiaRegular.woff') format('woff'),
        url('UVFLavanderiaRegular.ttf') format('truetype'),
        url('UVFLavanderiaRegular.svg#UVFLavanderiaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFLPBambusLight';
    src: url('UVFLPBambusLight.eot');
    src: url('UVFLPBambusLight.eot?#iefix') format('embedded-opentype'),
        url('UVFLPBambusLight.woff2') format('woff2'),
        url('UVFLPBambusLight.woff') format('woff'),
        url('UVFLPBambusLight.ttf') format('truetype'),
        url('UVFLPBambusLight.svg#UVFLPBambusLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFFlorenceRegular';
    src: url('UVFFlorenceRegular.eot');
    src: url('UVFFlorenceRegular.eot?#iefix') format('embedded-opentype'),
        url('UVFFlorenceRegular.woff2') format('woff2'),
        url('UVFFlorenceRegular.woff') format('woff'),
        url('UVFFlorenceRegular.ttf') format('truetype'),
        url('UVFFlorenceRegular.svg#UVFFlorenceRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HarbellPersonalUseOnly';
    src: url('HarbellPersonalUseOnly.eot');
    src: url('HarbellPersonalUseOnly.eot?#iefix') format('embedded-opentype'),
        url('HarbellPersonalUseOnly.woff2') format('woff2'),
        url('HarbellPersonalUseOnly.woff') format('woff'),
        url('HarbellPersonalUseOnly.ttf') format('truetype'),
        url('HarbellPersonalUseOnly.svg#HarbellPersonalUseOnly') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFGeotica';
    src: url('UVFGeotica.eot');
    src: url('UVFGeotica.eot?#iefix') format('embedded-opentype'),
        url('UVFGeotica.woff2') format('woff2'),
        url('UVFGeotica.woff') format('woff'),
        url('UVFGeotica.ttf') format('truetype'),
        url('UVFGeotica.svg#UVFGeotica') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFLittleDays';
    src: url('UVFLittleDays.eot');
    src: url('UVFLittleDays.eot?#iefix') format('embedded-opentype'),
        url('UVFLittleDays.woff2') format('woff2'),
        url('UVFLittleDays.woff') format('woff'),
        url('UVFLittleDays.ttf') format('truetype'),
        url('UVFLittleDays.svg#UVFLittleDays') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFCinnamonCake';
    src: url('UVFCinnamonCake.eot');
    src: url('UVFCinnamonCake.eot?#iefix') format('embedded-opentype'),
        url('UVFCinnamonCake.woff2') format('woff2'),
        url('UVFCinnamonCake.woff') format('woff'),
        url('UVFCinnamonCake.ttf') format('truetype'),
        url('UVFCinnamonCake.svg#UVFCinnamonCake') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFKilkennyPro';
    src: url('UVFKilkennyPro.eot');
    src: url('UVFKilkennyPro.eot?#iefix') format('embedded-opentype'),
        url('UVFKilkennyPro.woff2') format('woff2'),
        url('UVFKilkennyPro.woff') format('woff'),
        url('UVFKilkennyPro.ttf') format('truetype'),
        url('UVFKilkennyPro.svg#UVFKilkennyPro') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFDartangnonStd';
    src: url('UVFDartangnonStd_1.eot');
    src: url('UVFDartangnonStd_1.eot?#iefix') format('embedded-opentype'),
        url('UVFDartangnonStd_1.woff2') format('woff2'),
        url('UVFDartangnonStd_1.woff') format('woff'),
        url('UVFDartangnonStd_1.ttf') format('truetype'),
        url('UVFDartangnonStd_1.svg#UVFDartangnonStd') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFLobster12';
    src: url('UVFLobster12.eot');
    src: url('UVFLobster12.eot?#iefix') format('embedded-opentype'),
        url('UVFLobster12.woff2') format('woff2'),
        url('UVFLobster12.woff') format('woff'),
        url('UVFLobster12.ttf') format('truetype'),
        url('UVFLobster12.svg#UVFLobster12') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFDidotLTStd-Italic';
    src: url('UVFDidotLTStd-Italic_1.eot');
    src: url('UVFDidotLTStd-Italic_1.eot?#iefix') format('embedded-opentype'),
        url('UVFDidotLTStd-Italic_1.woff2') format('woff2'),
        url('UVFDidotLTStd-Italic_1.woff') format('woff'),
        url('UVFDidotLTStd-Italic_1.ttf') format('truetype'),
        url('UVFDidotLTStd-Italic_1.svg#UVFDidotLTStd-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFHeraBig-Black';
    src: url('UVFHeraBig-Black.eot');
    src: url('UVFHeraBig-Black.eot?#iefix') format('embedded-opentype'),
        url('UVFHeraBig-Black.woff2') format('woff2'),
        url('UVFHeraBig-Black.woff') format('woff'),
        url('UVFHeraBig-Black.ttf') format('truetype'),
        url('UVFHeraBig-Black.svg#UVFHeraBig-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFHelveticaRoundedLTStdBd';
    src: url('UVFHelveticaRoundedLTStdBd.eot');
    src: url('UVFHelveticaRoundedLTStdBd.eot?#iefix') format('embedded-opentype'),
        url('UVFHelveticaRoundedLTStdBd.woff2') format('woff2'),
        url('UVFHelveticaRoundedLTStdBd.woff') format('woff'),
        url('UVFHelveticaRoundedLTStdBd.ttf') format('truetype'),
        url('UVFHelveticaRoundedLTStdBd.svg#UVFHelveticaRoundedLTStdBd') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFHoneyBee';
    src: url('UVFHoneyBee.eot');
    src: url('UVFHoneyBee.eot?#iefix') format('embedded-opentype'),
        url('UVFHoneyBee.woff2') format('woff2'),
        url('UVFHoneyBee.woff') format('woff'),
        url('UVFHoneyBee.ttf') format('truetype'),
        url('UVFHoneyBee.svg#UVFHoneyBee') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFLegendaria';
    src: url('UVFLegendaria.eot');
    src: url('UVFLegendaria.eot?#iefix') format('embedded-opentype'),
        url('UVFLegendaria.woff2') format('woff2'),
        url('UVFLegendaria.woff') format('woff'),
        url('UVFLegendaria.ttf') format('truetype'),
        url('UVFLegendaria.svg#UVFLegendaria') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFMemoir';
    src: url('UVFMemoir.eot');
    src: url('UVFMemoir.eot?#iefix') format('embedded-opentype'),
        url('UVFMemoir.woff2') format('woff2'),
        url('UVFMemoir.woff') format('woff'),
        url('UVFMemoir.ttf') format('truetype'),
        url('UVFMemoir.svg#UVFMemoir') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFFilmotypeHoney';
    src: url('UVFFilmotypeHoney.eot');
    src: url('UVFFilmotypeHoney.eot?#iefix') format('embedded-opentype'),
        url('UVFFilmotypeHoney.woff2') format('woff2'),
        url('UVFFilmotypeHoney.woff') format('woff'),
        url('UVFFilmotypeHoney.ttf') format('truetype'),
        url('UVFFilmotypeHoney.svg#UVFFilmotypeHoney') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFDartangnonStd';
    src: url('UVFDartangnonStd_2.eot');
    src: url('UVFDartangnonStd_2.eot?#iefix') format('embedded-opentype'),
        url('UVFDartangnonStd_2.woff2') format('woff2'),
        url('UVFDartangnonStd_2.woff') format('woff'),
        url('UVFDartangnonStd_2.ttf') format('truetype'),
        url('UVFDartangnonStd_2.svg#UVFDartangnonStd') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FrostingforBreakfast';
    src: url('FrostingforBreakfast.eot');
    src: url('FrostingforBreakfast.eot?#iefix') format('embedded-opentype'),
        url('FrostingforBreakfast.woff2') format('woff2'),
        url('FrostingforBreakfast.woff') format('woff'),
        url('FrostingforBreakfast.ttf') format('truetype'),
        url('FrostingforBreakfast.svg#FrostingforBreakfast') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFDiamonds';
    src: url('UVFDiamonds.eot');
    src: url('UVFDiamonds.eot?#iefix') format('embedded-opentype'),
        url('UVFDiamonds.woff2') format('woff2'),
        url('UVFDiamonds.woff') format('woff'),
        url('UVFDiamonds.ttf') format('truetype'),
        url('UVFDiamonds.svg#UVFDiamonds') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFGulyesaScript';
    src: url('UVFGulyesaScript.eot');
    src: url('UVFGulyesaScript.eot?#iefix') format('embedded-opentype'),
        url('UVFGulyesaScript.woff2') format('woff2'),
        url('UVFGulyesaScript.woff') format('woff'),
        url('UVFGulyesaScript.ttf') format('truetype'),
        url('UVFGulyesaScript.svg#UVFGulyesaScript') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFConnie';
    src: url('UVFConnie.eot');
    src: url('UVFConnie.eot?#iefix') format('embedded-opentype'),
        url('UVFConnie.woff2') format('woff2'),
        url('UVFConnie.woff') format('woff'),
        url('UVFConnie.ttf') format('truetype'),
        url('UVFConnie.svg#UVFConnie') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFLegendariaSwashes1';
    src: url('UVFLegendariaSwashes1.eot');
    src: url('UVFLegendariaSwashes1.eot?#iefix') format('embedded-opentype'),
        url('UVFLegendariaSwashes1.woff2') format('woff2'),
        url('UVFLegendariaSwashes1.woff') format('woff'),
        url('UVFLegendariaSwashes1.ttf') format('truetype'),
        url('UVFLegendariaSwashes1.svg#UVFLegendariaSwashes1') format('svg');
    font-weight: normal;
    font-style: normal;
}

