@font-face {
    font-family: 'UVFNewCicle';
    src: url('UVFNewCicle.eot');
    src: url('UVFNewCicle.eot?#iefix') format('embedded-opentype'),
        url('UVFNewCicle.woff2') format('woff2'),
        url('UVFNewCicle.woff') format('woff'),
        url('UVFNewCicle.ttf') format('truetype'),
        url('UVFNewCicle.svg#UVFNewCicle') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFReliantBeveled';
    src: url('UVFReliantBeveled.eot');
    src: url('UVFReliantBeveled.eot?#iefix') format('embedded-opentype'),
        url('UVFReliantBeveled.woff2') format('woff2'),
        url('UVFReliantBeveled.woff') format('woff'),
        url('UVFReliantBeveled.ttf') format('truetype'),
        url('UVFReliantBeveled.svg#UVFReliantBeveled') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFSaint-AndrewQueen';
    src: url('UVFSaint-AndrewQueen.eot');
    src: url('UVFSaint-AndrewQueen.eot?#iefix') format('embedded-opentype'),
        url('UVFSaint-AndrewQueen.woff2') format('woff2'),
        url('UVFSaint-AndrewQueen.woff') format('woff'),
        url('UVFSaint-AndrewQueen.ttf') format('truetype'),
        url('UVFSaint-AndrewQueen.svg#UVFSaint-AndrewQueen') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFProximaNova-Regular';
    src: url('UVFProximaNova-Regular.eot');
    src: url('UVFProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('UVFProximaNova-Regular.woff2') format('woff2'),
        url('UVFProximaNova-Regular.woff') format('woff'),
        url('UVFProximaNova-Regular.ttf') format('truetype'),
        url('UVFProximaNova-Regular.svg#UVFProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFNarzissSwirls';
    src: url('UVFNarzissSwirls.eot');
    src: url('UVFNarzissSwirls.eot?#iefix') format('embedded-opentype'),
        url('UVFNarzissSwirls.woff2') format('woff2'),
        url('UVFNarzissSwirls.woff') format('woff'),
        url('UVFNarzissSwirls.ttf') format('truetype'),
        url('UVFNarzissSwirls.svg#UVFNarzissSwirls') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFPorcelain';
    src: url('UVFPorcelain.eot');
    src: url('UVFPorcelain.eot?#iefix') format('embedded-opentype'),
        url('UVFPorcelain.woff2') format('woff2'),
        url('UVFPorcelain.woff') format('woff'),
        url('UVFPorcelain.ttf') format('truetype'),
        url('UVFPorcelain.svg#UVFPorcelain') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFRiesling';
    src: url('UVFRiesling.eot');
    src: url('UVFRiesling.eot?#iefix') format('embedded-opentype'),
        url('UVFRiesling.woff2') format('woff2'),
        url('UVFRiesling.woff') format('woff'),
        url('UVFRiesling.ttf') format('truetype'),
        url('UVFRiesling.svg#UVFRiesling') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFShippedGoods1';
    src: url('UVFShippedGoods1.eot');
    src: url('UVFShippedGoods1.eot?#iefix') format('embedded-opentype'),
        url('UVFShippedGoods1.woff2') format('woff2'),
        url('UVFShippedGoods1.woff') format('woff'),
        url('UVFShippedGoods1.ttf') format('truetype'),
        url('UVFShippedGoods1.svg#UVFShippedGoods1') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVVMuseo-Book500';
    src: url('UVVMuseo-Book500.eot');
    src: url('UVVMuseo-Book500.eot?#iefix') format('embedded-opentype'),
        url('UVVMuseo-Book500.woff2') format('woff2'),
        url('UVVMuseo-Book500.woff') format('woff'),
        url('UVVMuseo-Book500.ttf') format('truetype'),
        url('UVVMuseo-Book500.svg#UVVMuseo-Book500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFNewCicle-FinaItalic';
    src: url('UVFNewCicle-FinaItalic.eot');
    src: url('UVFNewCicle-FinaItalic.eot?#iefix') format('embedded-opentype'),
        url('UVFNewCicle-FinaItalic.woff2') format('woff2'),
        url('UVFNewCicle-FinaItalic.woff') format('woff'),
        url('UVFNewCicle-FinaItalic.ttf') format('truetype'),
        url('UVFNewCicle-FinaItalic.svg#UVFNewCicle-FinaItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFMerced-LightItalic';
    src: url('UVFMerced-LightItalic.eot');
    src: url('UVFMerced-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('UVFMerced-LightItalic.woff2') format('woff2'),
        url('UVFMerced-LightItalic.woff') format('woff'),
        url('UVFMerced-LightItalic.ttf') format('truetype'),
        url('UVFMerced-LightItalic.svg#UVFMerced-LightItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFNewCicle';
    src: url('UVFNewCicle_1.eot');
    src: url('UVFNewCicle_1.eot?#iefix') format('embedded-opentype'),
        url('UVFNewCicle_1.woff2') format('woff2'),
        url('UVFNewCicle_1.woff') format('woff'),
        url('UVFNewCicle_1.ttf') format('truetype'),
        url('UVFNewCicle_1.svg#UVFNewCicle') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFPistilli';
    src: url('UVFPistilli.eot');
    src: url('UVFPistilli.eot?#iefix') format('embedded-opentype'),
        url('UVFPistilli.woff2') format('woff2'),
        url('UVFPistilli.woff') format('woff'),
        url('UVFPistilli.ttf') format('truetype'),
        url('UVFPistilli.svg#UVFPistilli') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFPerla';
    src: url('UVFPerla.eot');
    src: url('UVFPerla.eot?#iefix') format('embedded-opentype'),
        url('UVFPerla.woff2') format('woff2'),
        url('UVFPerla.woff') format('woff'),
        url('UVFPerla.ttf') format('truetype'),
        url('UVFPerla.svg#UVFPerla') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFReinaEngravedProVH';
    src: url('UVFReinaEngravedProVH.eot');
    src: url('UVFReinaEngravedProVH.eot?#iefix') format('embedded-opentype'),
        url('UVFReinaEngravedProVH.woff2') format('woff2'),
        url('UVFReinaEngravedProVH.woff') format('woff'),
        url('UVFReinaEngravedProVH.ttf') format('truetype'),
        url('UVFReinaEngravedProVH.svg#UVFReinaEngravedProVH') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFPrumoDisplayMediumItalic';
    src: url('UVFPrumoDisplayMediumItalic.eot');
    src: url('UVFPrumoDisplayMediumItalic.eot?#iefix') format('embedded-opentype'),
        url('UVFPrumoDisplayMediumItalic.woff2') format('woff2'),
        url('UVFPrumoDisplayMediumItalic.woff') format('woff'),
        url('UVFPrumoDisplayMediumItalic.ttf') format('truetype'),
        url('UVFPrumoDisplayMediumItalic.svg#UVFPrumoDisplayMediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFShippedGoods';
    src: url('UVFShippedGoods.eot');
    src: url('UVFShippedGoods.eot?#iefix') format('embedded-opentype'),
        url('UVFShippedGoods.woff2') format('woff2'),
        url('UVFShippedGoods.woff') format('woff'),
        url('UVFShippedGoods.ttf') format('truetype'),
        url('UVFShippedGoods.svg#UVFShippedGoods') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFMerced';
    src: url('UVFMerced.eot');
    src: url('UVFMerced.eot?#iefix') format('embedded-opentype'),
        url('UVFMerced.woff2') format('woff2'),
        url('UVFMerced.woff') format('woff'),
        url('UVFMerced.ttf') format('truetype'),
        url('UVFMerced.svg#UVFMerced') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFMussicaSwash';
    src: url('UVFMussicaSwash.eot');
    src: url('UVFMussicaSwash.eot?#iefix') format('embedded-opentype'),
        url('UVFMussicaSwash.woff2') format('woff2'),
        url('UVFMussicaSwash.woff') format('woff'),
        url('UVFMussicaSwash.ttf') format('truetype'),
        url('UVFMussicaSwash.svg#UVFMussicaSwash') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFRegalOrnaments';
    src: url('UVFRegalOrnaments.eot');
    src: url('UVFRegalOrnaments.eot?#iefix') format('embedded-opentype'),
        url('UVFRegalOrnaments.woff2') format('woff2'),
        url('UVFRegalOrnaments.woff') format('woff'),
        url('UVFRegalOrnaments.ttf') format('truetype'),
        url('UVFRegalOrnaments.svg#UVFRegalOrnaments') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFRedSableScript';
    src: url('UVFRedSableScript.eot');
    src: url('UVFRedSableScript.eot?#iefix') format('embedded-opentype'),
        url('UVFRedSableScript.woff2') format('woff2'),
        url('UVFRedSableScript.woff') format('woff'),
        url('UVFRedSableScript.ttf') format('truetype'),
        url('UVFRedSableScript.svg#UVFRedSableScript') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFPepitaScript';
    src: url('UVFPepitaScript.eot');
    src: url('UVFPepitaScript.eot?#iefix') format('embedded-opentype'),
        url('UVFPepitaScript.woff2') format('woff2'),
        url('UVFPepitaScript.woff') format('woff'),
        url('UVFPepitaScript.ttf') format('truetype'),
        url('UVFPepitaScript.svg#UVFPepitaScript') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFMishka';
    src: url('UVFMishka.eot');
    src: url('UVFMishka.eot?#iefix') format('embedded-opentype'),
        url('UVFMishka.woff2') format('woff2'),
        url('UVFMishka.woff') format('woff'),
        url('UVFMishka.ttf') format('truetype'),
        url('UVFMishka.svg#UVFMishka') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFQumpellkaNo12';
    src: url('UVFQumpellkaNo12.eot');
    src: url('UVFQumpellkaNo12.eot?#iefix') format('embedded-opentype'),
        url('UVFQumpellkaNo12.woff2') format('woff2'),
        url('UVFQumpellkaNo12.woff') format('woff'),
        url('UVFQumpellkaNo12.ttf') format('truetype'),
        url('UVFQumpellkaNo12.svg#UVFQumpellkaNo12') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFMetroScript';
    src: url('UVFMetroScript.eot');
    src: url('UVFMetroScript.eot?#iefix') format('embedded-opentype'),
        url('UVFMetroScript.woff2') format('woff2'),
        url('UVFMetroScript.woff') format('woff'),
        url('UVFMetroScript.ttf') format('truetype'),
        url('UVFMetroScript.svg#UVFMetroScript') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFNexaSlabRegular';
    src: url('UVFNexaSlabRegular.eot');
    src: url('UVFNexaSlabRegular.eot?#iefix') format('embedded-opentype'),
        url('UVFNexaSlabRegular.woff2') format('woff2'),
        url('UVFNexaSlabRegular.woff') format('woff'),
        url('UVFNexaSlabRegular.ttf') format('truetype'),
        url('UVFNexaSlabRegular.svg#UVFNexaSlabRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFRaptureHeavenly';
    src: url('UVFRaptureHeavenly.eot');
    src: url('UVFRaptureHeavenly.eot?#iefix') format('embedded-opentype'),
        url('UVFRaptureHeavenly.woff2') format('woff2'),
        url('UVFRaptureHeavenly.woff') format('woff'),
        url('UVFRaptureHeavenly.ttf') format('truetype'),
        url('UVFRaptureHeavenly.svg#UVFRaptureHeavenly') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFRansomNote';
    src: url('UVFRansomNote.eot');
    src: url('UVFRansomNote.eot?#iefix') format('embedded-opentype'),
        url('UVFRansomNote.woff2') format('woff2'),
        url('UVFRansomNote.woff') format('woff'),
        url('UVFRansomNote.ttf') format('truetype'),
        url('UVFRansomNote.svg#UVFRansomNote') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFRBNo2Light';
    src: url('UVFRBNo2Light.eot');
    src: url('UVFRBNo2Light.eot?#iefix') format('embedded-opentype'),
        url('UVFRBNo2Light.woff2') format('woff2'),
        url('UVFRBNo2Light.woff') format('woff'),
        url('UVFRBNo2Light.ttf') format('truetype'),
        url('UVFRBNo2Light.svg#UVFRBNo2Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFNellyScriptFlourish';
    src: url('UVFNellyScriptFlourish.eot');
    src: url('UVFNellyScriptFlourish.eot?#iefix') format('embedded-opentype'),
        url('UVFNellyScriptFlourish.woff2') format('woff2'),
        url('UVFNellyScriptFlourish.woff') format('woff'),
        url('UVFNellyScriptFlourish.ttf') format('truetype'),
        url('UVFNellyScriptFlourish.svg#UVFNellyScriptFlourish') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFParisSerif-Light';
    src: url('UVFParisSerif-Light.eot');
    src: url('UVFParisSerif-Light.eot?#iefix') format('embedded-opentype'),
        url('UVFParisSerif-Light.woff2') format('woff2'),
        url('UVFParisSerif-Light.woff') format('woff'),
        url('UVFParisSerif-Light.ttf') format('truetype'),
        url('UVFParisSerif-Light.svg#UVFParisSerif-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFPrime';
    src: url('UVFPrime.eot');
    src: url('UVFPrime.eot?#iefix') format('embedded-opentype'),
        url('UVFPrime.woff2') format('woff2'),
        url('UVFPrime.woff') format('woff'),
        url('UVFPrime.ttf') format('truetype'),
        url('UVFPrime.svg#UVFPrime') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFPennaRegular';
    src: url('UVFPennaRegular.eot');
    src: url('UVFPennaRegular.eot?#iefix') format('embedded-opentype'),
        url('UVFPennaRegular.woff2') format('woff2'),
        url('UVFPennaRegular.woff') format('woff'),
        url('UVFPennaRegular.ttf') format('truetype'),
        url('UVFPennaRegular.svg#UVFPennaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFSanchezRegular';
    src: url('UVFSanchezRegular.eot');
    src: url('UVFSanchezRegular.eot?#iefix') format('embedded-opentype'),
        url('UVFSanchezRegular.woff2') format('woff2'),
        url('UVFSanchezRegular.woff') format('woff'),
        url('UVFSanchezRegular.ttf') format('truetype'),
        url('UVFSanchezRegular.svg#UVFSanchezRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFPlebeyaPro';
    src: url('UVFPlebeyaPro.eot');
    src: url('UVFPlebeyaPro.eot?#iefix') format('embedded-opentype'),
        url('UVFPlebeyaPro.woff2') format('woff2'),
        url('UVFPlebeyaPro.woff') format('woff'),
        url('UVFPlebeyaPro.ttf') format('truetype'),
        url('UVFPlebeyaPro.svg#UVFPlebeyaPro') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVFSalome';
    src: url('UVFSalome.eot');
    src: url('UVFSalome.eot?#iefix') format('embedded-opentype'),
        url('UVFSalome.woff2') format('woff2'),
        url('UVFSalome.woff') format('woff'),
        url('UVFSalome.ttf') format('truetype'),
        url('UVFSalome.svg#UVFSalome') format('svg');
    font-weight: normal;
    font-style: normal;
}

