.container_144oaus {
    background: #ffffff !important;
}

.container_1qc1xlg {
    position: relative !important;
    background: -webkit-radial-gradient(farthest-corner at 30% 20%, #B4E5E6 20%, #BFECE4 60%, #B5F0E9) !important;
    background: -moz-radial-gradient(farthest-corner at 30% 20%, #B4E5E6 20%, #BFECE4 60%, #B5F0E9) !important;
    background: radial-gradient(farthest-corner at 30% 20%, #B4E5E6 20%, #BFECE4 60%, #B5F0E9) !important;
    height: 800px !important;
}

@media (max-width: 1127px) {
    .container_1qc1xlg {
        height: 675px !important;
    }
}

@media (max-width: 743px) {
    .container_1qc1xlg {
        height: 675px !important;
    }
}

.personImage_1rb2rw4 {
    background-position: 85% 100% !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    height: 100% !important;
    width: 100% !important;
    position: absolute !important;
    bottom: 0px !important;
}

@media (max-width: 1127px) {
    .personImage_1rb2rw4 {
        display: none !important;
    }
}

.smallPhoneImage_10fspvy {
    background-position: 85% 100% !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    height: 100% !important;
    width: 100% !important;
    position: absolute !important;
    bottom: 0px !important;
}

@media (max-width: 1127px) {
    .smallPhoneImage_10fspvy {
        max-height: 450px !important;
        background-position: 100% 100% !important;
    }
}

@media (max-width: 743px) {
    .smallPhoneImage_10fspvy {
        background-position: 50% 100% !important;
    }
}

.smallProfileImage_1cfxqnx {
    background-repeat: no-repeat !important;
    background-size: contain !important;
    width: 120px !important;
    height: 120px !important;
    position: absolute !important;
    left: 25px !important;
    bottom: -60px !important;
}

@media (max-width: 1127px) {
    .smallProfileImage_1cfxqnx {
        left: 50% !important;
    }
}

@media (max-width: 743px) {
    .smallProfileImage_1cfxqnx {
        left: 25px !important;
    }
}

.titleContainer_38bj9e {
    position: absolute !important;
    max-width: 350px !important;
}

@media (max-width: 743px) {
    .titleContainer_38bj9e {
        text-align: left !important;
    }
}

@media (min-width: 744px) {
    .titleContainer_38bj9e {
        top: 7% !important;
        left: 7% !important;
    }
}

@media (min-width: 1128px) {
    .titleContainer_38bj9e {
        top: 30% !important;
        left: 3% !important;
    }
}

@media (min-width: 1250px) {
    .titleContainer_38bj9e {
        left: 7% !important;
    }
}

.button_pmph9k-o_O-button_black_1rcndo0 {
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 20px !important;
    display: inline-block !important;
    color: #484848 !important;
    border-radius: 64px !important;
    border: 2px solid !important;
    border-color: #484848 !important;
    padding: 8px 24px 9px !important;
    cursor: pointer !important;
    text-decoration: none !important;
}

.blackColor_3mnosr {
    color: #484848 !important;
}

.container_15lzjb6 {
    padding-top: 32px !important;
}

.baseline_none_ie1ecq-o_O-vertical-3_1564qiz {
    border-bottom: 0px !important;
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}

.title_11ajjkt-o_O-level2_18iydlz {
    font-weight: 700 !important;
    color: #484848 !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 36px !important;
    line-height: 44px !important;
    letter-spacing: -0.6px !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

@media (max-width: 743px) {
    .title_11ajjkt-o_O-level2_18iydlz {
        font-size: 32px !important;
        line-height: 40px !important;
        letter-spacing: -0.6px !important;
    }
}

.text_5mbkop-o_O-size_regular_x6m9oi-o_O-weight_light_1nmzz2x {
    font-weight: 300 !important;
    color: #484848 !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 19px !important;
    line-height: 24px !important;
    letter-spacing: undefined !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.text_5mbkop-o_O-size_regular_x6m9oi {
    font-weight: normal !important;
    color: #484848 !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 19px !important;
    line-height: 24px !important;
    letter-spacing: undefined !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.narrow_1uegx1q {
    max-width: 640px !important;
    margin: 0 auto !important;
}

.text_5mbkop-o_O-size_large_16mhv7y-o_O-weight_light_1nmzz2x {
    font-weight: 300 !important;
    color: #484848 !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 22px !important;
    line-height: 28px !important;
    letter-spacing: -0.2px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.container_e296pg {
    position: relative !important;
}

.playContainer_1c4iqln {
    position: absolute !important;
    bottom: 0px !important;
    background: -webkit-linear-gradient(transparent 0%, rgba(0, 0, 0, 0.65) 100%) !important;
    background: -moz-linear-gradient(transparent 0%, rgba(0, 0, 0, 0.65) 100%) !important;
    background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.65) 100%) !important;
    width: 100% !important;
    text-shadow: 0 2px 1em #000000 !important;
    padding: 10px !important;
}

@media (min-width: 744px) {
    .playContainer_1c4iqln {
        padding: 20px !important;
    }
}

.playButton_u24ach {
    background: transparent !important;
    border: none !important;
}

.playIcon_titan9 {
    font-size: 30px !important;
    opacity: 0.8 !important;
}

.container_13xlah4 {
    cursor: pointer !important;
}

.container_18q6tiq {
    position: relative !important;
    width: 100% !important;
    z-index: 0 !important;
}

.children_1szwzht {
    position: absolute !important;
    top: 0px !important;
    bottom: 0px !important;
    left: 0px !important;
    right: 0px !important;
    height: 100% !important;
    width: 100% !important;
}

.image_5u0r7 {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 100% !important;
    width: 100% !important;
}

.bottomDivider_mdjfxe {
    margin-top: 100px !important;
    border-bottom-width: 1px !important;
    border-bottom-style: solid !important;
    border-color: #DBDBDB !important;
}

.cardSwipe_1kkopm5 {
    position: relative !important;
    height: 100% !important;
    width: 100% !important;
}

.carouselChevron_z8pkcd-o_O-carouselChevronRight_1rrrdzu-o_O-hideUnlessHover_i2fy89-o_O-hideChevronsForSmallViewport_siy8gh {
    border: 0px !important;
    position: absolute !important;
    height: 100% !important;
    z-index: 3 !important;
    outline: none !important;
    background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)) !important;
    background: -moz-linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)) !important;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)) !important;
    right: 0px !important;
    padding-left: 70px !important;
    opacity: 0 !important;
    -webkit-transition: opacity 0.1s ease-in-out !important;
    -moz-transition: opacity 0.1s ease-in-out !important;
    transition: opacity 0.1s ease-in-out !important;
    display: none !important;
}

.carouselChevron_z8pkcd-o_O-carouselChevronRight_1rrrdzu-o_O-hideUnlessHover_i2fy89-o_O-hideChevronsForSmallViewport_siy8gh:hover {
    opacity: 1 !important;
}

@media (min-width: 744px) {
    .carouselChevron_z8pkcd-o_O-carouselChevronRight_1rrrdzu-o_O-hideUnlessHover_i2fy89-o_O-hideChevronsForSmallViewport_siy8gh {
        display: block !important;
    }
}

.swipeRowOuterContainer_1i3f4r4 {
    position: relative !important;
    overflow: hidden !important;
    width: 100% !important;
}

.swipeRow_1lwbsol-o_O-swiping_8ggan6 {
    position: relative !important;
    -webkit-transition: -webkit-transform 0s ease-in-out, transform 0s ease-in-out !important;
    -moz-transition: transform 0s ease-in-out !important;
    transition: -ms-transform 0s ease-in-out, -webkit-transform 0s ease-in-out, transform 0s ease-in-out !important;
}

.swipeCard_ncmdki {
    float: left !important;
}

.infoRow_1o2lm5u-o_O-infoRowActive_9vayoh {
    margin-top: 50px !important;
    -webkit-transition: opacity 0.7s ease-in-out !important;
    -moz-transition: opacity 0.7s ease-in-out !important;
    transition: opacity 0.7s ease-in-out !important;
    opacity: 1 !important;
}

@media (max-width: 743px) {
    .infoRow_1o2lm5u-o_O-infoRowActive_9vayoh {
        margin-top: 20px !important;
    }
}

.infoRowText_t8kl53 {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    font-size: 19px !important;
    line-height: 24px !important;
    letter-spacing: undefined !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: #484848 !important;
    font-weight: 300 !important;
}

@media (max-width: 743px) {
    .infoRowText_t8kl53 {
        width: 90% !important;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
        font-size: 15px !important;
        line-height: 18px !important;
        letter-spacing: 0.2px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        color: #484848 !important;
    }
}

.title_11ajjkt-o_O-level3_zd2ru4 {
    font-weight: 700 !important;
    color: #484848 !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 28px !important;
    line-height: 36px !important;
    letter-spacing: -0.6px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

@media (max-width: 743px) {
    .title_11ajjkt-o_O-level3_zd2ru4 {
        font-size: 25px !important;
        line-height: 30px !important;
        letter-spacing: -0.6px !important;
    }
}

.infoRow_1o2lm5u {
    margin-top: 50px !important;
    -webkit-transition: opacity 0.7s ease-in-out !important;
    -moz-transition: opacity 0.7s ease-in-out !important;
    transition: opacity 0.7s ease-in-out !important;
    opacity: 0 !important;
}

@media (max-width: 743px) {
    .infoRow_1o2lm5u {
        margin-top: 20px !important;
    }
}

.fixedHeight_17ibhyy {
    height: 480px !important;
}

.fixedHeight_17ibhyy-o_O-narrow_1wwe4iy {
    height: 480px !important;
    max-width: 336px !important;
    margin: 0 auto !important;
}

.smallPhone_marq28 {
    background-position: 100% center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    height: 500px !important;
    width: 100% !important;
}

.image_5u0r7-o_O-bgContain_16d3go2 {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    height: 100% !important;
    width: 100% !important;
}

.component_9w5i1l {
    color: #008489 !important;
    font: inherit !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    text-decoration: none !important;
}

.component_9w5i1l:hover {
    text-decoration: underline !important;
}

.component_9w5i1l:active {
    color: #00514A !important;
}

.container_1qd268e {
    margin-top: 48px !important;
    margin-bottom: 48px !important;
}

@media (max-width: 743px) {
    .container_1qd268e {
        margin-top: -96px !important;
    }
}

.text_5mbkop-o_O-size_large_16mhv7y-o_O-weight_bold_153t78d {
    font-weight: 700 !important;
    color: #484848 !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 22px !important;
    line-height: 28px !important;
    letter-spacing: -0.2px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.rule_76irmj {
    border-bottom: 1px solid #DBDBDB !important;
}

.bullet_j2nsrb {
    border-width: 1px !important;
    border-color: #DBDBDB !important;
    border-style: solid !important;
    padding: 20px !important;
    width: 42px !important;
    height: 42px !important;
    border-radius: 20px !important;
    position: relative !important;
}

.bulletText_m3m97i {
    position: absolute !important;
    top: 9px !important;
    left: 16px !important;
    font-size: 16px !important;
}

.baseline_none_ie1ecq-o_O-vertical-3_1564qiz-o_O-bottom-3_1mk0p35 {
    border-bottom: 0px !important;
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}

.text_5mbkop-o_O-size_large_16mhv7y {
    font-weight: normal !important;
    color: #484848 !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 22px !important;
    line-height: 28px !important;
    letter-spacing: -0.2px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.container_1r5lgs0 {
    background: -webkit-linear-gradient(to right, rgba(0, 66, 74, 1) 5%, rgba(0, 125, 131, 1) 25%) !important;
    background: -moz-linear-gradient(to right, rgba(0, 66, 74, 1) 5%, rgba(0, 125, 131, 1) 25%) !important;
    background: linear-gradient(to right, rgba(0, 66, 74, 1) 5%, rgba(0, 125, 131, 1) 25%) !important;
}

@media (max-width: 743px) {
    .container_1r5lgs0 {
        background: rgb(0, 125, 131) !important;
    }
}

.container_l2sxor-o_O-noType_j6qfy1 {
    background: #ffffff !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    padding-top: 32px !important;
    padding-bottom: 32px !important;
    width: 66.66666% !important;
}

@media (max-width: 743px) {
    .container_l2sxor-o_O-noType_j6qfy1 {
        width: auto !important;
    }
}

.title_11ajjkt-o_O-level2_18iydlz-o_O-inverse_1lslapz {
    font-weight: 700 !important;
    color: #ffffff !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 36px !important;
    line-height: 44px !important;
    letter-spacing: -0.6px !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

@media (max-width: 743px) {
    .title_11ajjkt-o_O-level2_18iydlz-o_O-inverse_1lslapz {
        font-size: 32px !important;
        line-height: 40px !important;
        letter-spacing: -0.6px !important;
    }
}

.text_5mbkop-o_O-size_regular_x6m9oi-o_O-weight_light_1nmzz2x-o_O-color_inverse_1lslapz {
    font-weight: 300 !important;
    color: #ffffff !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 19px !important;
    line-height: 24px !important;
    letter-spacing: undefined !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.text_5mbkop-o_O-size_micro_16wifzf-o_O-weight_bold_153t78d {
    font-weight: 700 !important;
    color: #484848 !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 12px !important;
    line-height: 16px !important;
    letter-spacing: 0.4px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.container_1nbitbn-o_O-block_r99te6 {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    font-size: 19px !important;
    line-height: 24px !important;
    letter-spacing: undefined !important;
    padding-top: undefined !important;
    padding-bottom: undefined !important;
    color: #484848 !important;
    position: relative !important;
    display: block !important;
    background: #ffffff !important;
    border: 1px solid #DBDBDB !important;
    border-radius: 2px !important;
    margin-bottom: 8px !important;
    width: 100% !important;
}

.selectContainer_y9ev9r {
    overflow: hidden !important;
}

.select_1qjv9vt-o_O-block_r99te6 {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    font-size: 19px !important;
    line-height: 24px !important;
    letter-spacing: undefined !important;
    padding-top: undefined !important;
    padding-bottom: undefined !important;
    color: #484848 !important;
    font-weight: 300 !important;
    background-color: transparent !important;
    border: none !important;
    border-radius: 0px !important;
    padding: 10px !important;
    padding-right: 40px !important;
    height: 44px !important;
    display: block !important;
    width: 100% !important;
}

.select_1qjv9vt-o_O-block_r99te6:focus {
    outline: none !important;
}

.arrow_1pzmvmb {
    position: absolute !important;
    top: 16px !important;
    right: 16px !important;
    line-height: 0 !important;
    pointer-events: none !important;
}

.container_36rlri-o_O-block_r99te6 {
    display: block !important;
    width: 100% !important;
}

.label_hidden_1m8bb6v {
    position: absolute !important;
    display: block !important;
    border: 0px !important;
    margin: -1px !important;
    padding: 0px !important;
    height: 1px !important;
    width: 1px !important;
    clip: rect(0, 0, 0, 0) !important;
    overflow: hidden !important;
}

.container_1l26xld-o_O-container_rounded_sa8zo9-o_O-container_notBlock_1xdomts-o_O-container_sizeRegular_1flp9iz-o_O-container_6d9adm {
    cursor: pointer !important;
    -webkit-transition: background 0.3s, border-color 0.3s !important;
    -moz-transition: background 0.3s, border-color 0.3s !important;
    transition: background 0.3s, border-color 0.3s !important;
    position: relative !important;
    border: 2px solid transparent !important;
    border-radius: 4px !important;
    width: auto !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    font-size: 19px !important;
    line-height: 22px !important;
    letter-spacing: undefined !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    color: #484848 !important;
    font-weight: 700 !important;
    padding-right: 24px !important;
    padding-left: 24px !important;
    min-width: 77.66563145999496px !important;
    background: #00A699 !important;
    border-color: undefined !important;
}

.container_1l26xld-o_O-container_rounded_sa8zo9-o_O-container_notBlock_1xdomts-o_O-container_sizeRegular_1flp9iz-o_O-container_6d9adm::-moz-focus-inner {
    border: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
}

.container_1l26xld-o_O-container_rounded_sa8zo9-o_O-container_notBlock_1xdomts-o_O-container_sizeRegular_1flp9iz-o_O-container_6d9adm:active {
    background: #008489 !important;
    border-color: undefined !important;
}

.container_1l26xld-o_O-container_rounded_sa8zo9-o_O-container_notBlock_1xdomts-o_O-container_sizeRegular_1flp9iz-o_O-container_6d9adm:hover {
    background: #00A699 !important;
    border-color: undefined !important;
}

.container_1l26xld-o_O-container_rounded_sa8zo9-o_O-container_notBlock_1xdomts-o_O-container_sizeRegular_1flp9iz-o_O-container_6d9adm:disabled {
    background: rgba(0, 166, 153, 0.3) !important;
    border-color: undefined !important;
    cursor: default !important;
}

.text_veo4lx-o_O-text_sizeRegular_15o3clg-o_O-text_1nocrfv {
    -webkit-transition: color 0.3s !important;
    -moz-transition: color 0.3s !important;
    transition: color 0.3s !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    font-size: 19px !important;
    line-height: 22px !important;
    letter-spacing: undefined !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: #ffffff !important;
    white-space: normal !important;
}

.text_veo4lx-o_O-text_sizeRegular_15o3clg-o_O-text_1nocrfv:active {
    color: #ffffff !important;
}

.text_veo4lx-o_O-text_sizeRegular_15o3clg-o_O-text_1nocrfv:hover {
    color: #ffffff !important;
}